@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  overflow-x: hidden;
}

main {
  flex: 1;
}
